.main {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-grow: 1;
}

.message {
	position: absolute;
	z-index: 10;
	width: 100%;
	color: var(--backgroundStart);
	font-weight: bold;
	padding: 1rem;
	text-align: center;
	background-color: var(--textSecondary);
	align-self: center;
}

.menu-button {
	display: none;
	font-size: 2.5rem;
	color: var(--textSecondary);
	padding: 0.5rem;
	cursor: pointer;
	height: 3rem;
	position: absolute;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 9rem;
	max-width: 9rem;
	flex-grow: 1;
	background-color: transparent;
	box-shadow: 0 0 10px var(--backgroundEnd);
	padding: 1rem;
}

.menu img {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}

.menu-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-list li {
	color: var(--textSecondary);
	margin: 1rem 0;
	cursor: pointer;
}

.menu-list li:hover {
	font-weight: bold;
}

.menu-list li.active {
	margin-left: 1rem;
	font-weight: bold;
}

.menu-home {
	display: none;
	width: 100%;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--textSecondary);
}

.menu-home a {
	color: var(--textSecondary);
	text-decoration: none;
}

.pages {
	flex-grow: 1;
	padding: 1rem;
	max-width: 100%;
}

.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page h1 {
	text-align: left;
	margin-top: 0;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;
}

section h2 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: normal;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex > * {
	margin-right: 1rem;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

label {
	font-size: 1rem;
	color: var(--textSecondary);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.input {
	font-size: 1rem;
	padding: 0.5rem;
	outline: none;
	width: 100%;
}

.input-actual {
	flex-grow: 1;
	height: 2rem;
}

.input-unit {
	font-size: 1rem;
	color: var(--textSecondary);
	margin: 0 0.5rem;
}

button {
	width: 12rem;
	height: 2.5rem;
	margin-top: 0.5rem;
	font-size: 1rem;
}

.link {
	color: var(--link);
	cursor: pointer;
	text-decoration: none;
}

.password {
	position: relative;
	width: 100%;
	max-width: 20rem;
}

.toggle-checkbox {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	right: 0.25rem;
	top: 0.25rem;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}

.toggle-icon {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	right: 0.5rem;
	top: 0.5rem;
	z-index: 1;
}

.hint-button {
	margin-left: 0.5rem;
	font-size: 0.8rem;
	width: 1rem;
	height: 1rem;
	color: var(--hint);
	background-color: var(--textSecondary);
	position: relative;
	border: 1px solid var(--textSecondary);
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.hint {
	position: absolute;
	bottom: 0.75rem;
	left: calc(50% - 5rem);
	color: var(--hint);
	background-color: var(--textSecondary);
	font-size: 0.8rem;
	text-align: left;
	border: 1px solid var(--textSecondary);
	border-radius: 0.25rem;
	padding: 0.25rem;
	min-width: 10rem;
	z-index: 2;
	display: none;
	white-space: normal;
}

.hint-spot {
	position: relative;
}

.cancel {
	color: #af3f00;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}

.hint-spot .hint,
.cancel .hint {
	min-width: 0;
	left: 1rem;
}

.hint-button:hover .hint,
.hint-spot:hover .hint,
.cancel:hover .hint {
	display: initial;
}

.container {
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--textSecondary);
	border-radius: 0.5rem;
	min-width: 16rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.content-long {
	flex-grow: 1;
}

.content-item {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
	align-items: center;
}

.content-item:last-child {
	margin-bottom: 0;
}

.content-label {
	flex-grow: 1;
	margin-right: 1rem;
	white-space: nowrap;
}

.content-item-top .content-label {
	align-self: flex-start;
}

.content-subitem {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.content-primary {
	font-family: 'Courier', monospace;
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
}

.content-secondary {
	font-family: 'Courier', monospace;
	font-size: 0.8rem;
	margin: 0;
}

.subcontent {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
}

.subcontent-item {
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
}

.average {
	font-size: 0.8rem;
	align-self: flex-start;
	margin-bottom: 0;
	cursor: pointer;
}

select {
	padding: 0 0.5rem;
	font-size: 1rem;
	height: 2rem;
	border-style: inset;
	outline: none;
}

.result {
	height: 2.5rem;
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin-left: 1rem;
	margin-top: 0.5rem;
}

.result * {
	color: var(--textSecondary);
	font-size: 0.8rem;
	text-align: center;
	width: 100%;
}

.error {
	color: var(--error);
	font-size: 0.8rem;
	text-align: center;
}

.table-container {
	width: 100%;
	overflow: auto;
}

table {
	font-size: 1rem;
	margin-top: 1rem;
	width: 100%;
	max-width: 100%;
	color: var(--textSecondary);
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

th {
	text-align: left;
}

tbody > tr:nth-child(odd) {
	background-color: var(--tableRow);
}

.cell-overflow, .cell-link {
	overflow: hidden;
	text-overflow: ellipsis;
}

.cell-overflow:hover {
	overflow: visible;
	position: absolute;
	background-color: #7f7f7f;
}

.cell-link:hover {
	font-weight: bold;
	cursor: pointer;
}

.buffered, .buffered td {
	color: #3f3f3f;
}

.history-button {
	width: 2rem;
	height: 1.8rem;
	background-color: var(--backgroundForm);
	border: 1px solid var(--textSecondary);
}

.contracts-checkbox-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.contracts-checkbox-container .contracts-label {
	margin-right: 1rem;
}

.contracts-checkbox-container .contracts-label:last-child {
	margin-right: 0;
}

.contracts-expand {
	font-size: 0.8rem;
}

.sort {
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	cursor: pointer;
	margin-left: 0.2rem;
}

.sort svg {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.sort svg path {
	fill: #7f7f7f;
}

.sort svg path.active {
	fill: #ffffff;
}

#files-results {
	padding-right: 1rem;
}

.files-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	width: 100%;
	min-height: 10rem;
	max-height: 50vh;
	overflow-y: auto;
	border: 1px solid var(--textSecondary);
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--tableRow);
	user-select: none;
}

.files-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 0.25rem;
	position: relative;
	margin: 0.25rem;
	max-width: 6rem;
}

.files-item > div {
	font-size: 0.9rem;
	text-align: center;
}

.files-item-temp > div {
	color: var(--buttonHoverEnd)!important;
}

.files-item:hover, .files-item-selected {
	background-color: var(--backgroundEnd);
}

.files-item img {
	width: 4rem;
	height: 4rem;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}

.files-item div {
	color: var(--textPrimary);
}

.files-hint {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	background-color: var(--buttonHoverEnd);
	border: 1px solid var(--textSecondary);
	border-radius: 0.25rem;
	padding: 0.25rem;
	min-width: 8rem;
	z-index: -1;
}

.files-item:hover .files-hint {
	z-index: 1;
}

.files-hint > div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.files-hint label {
	flex-grow: 1;
	margin: 0;
	font-size: 0.8rem;
	color: var(--textSecondary);
	text-align: left;
}

.files-hint span {
	font-size: 0.8rem;
	color: var(--textSecondary);
}

.files-button-container {
	display: flex;
	flex-direction: row;
}

.files-button-container button {
	margin-right: 0.5rem;
}

#reveal > div, #sc > div {
	width: 100%;
}

label[for='reveal-text'] {
	margin-top: 1rem;
}

.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026";
	width: 0;
}

@keyframes ellipsis {
	to {
		width: 1.25em;    
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;    
	}
}

#payment-message {
	color: rgb(105, 115, 134);
	font-size: 1rem;
	line-height: 1.25rem;
	padding-top: 0.75rem;
}

#payment-result {
	color: var(--textPrimary);
	font-size: 1rem;
	line-height: 1.25rem;
	margin-top: 0.5rem;
}

#payment-element {
	margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#stripe-logo {
	height: 3rem;
	margin-top: 2rem;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 auto;
}

.spinner div {
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	border: 0.25rem solid var(--textSecondary);
	border-radius: 50%;
	animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--textSecondary) transparent transparent transparent;
}

.spinner div:nth-child(1) {
	animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
	animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

.faq {
	margin-top: 0.5rem;
}

.faq:nth-child(odd) {
	background-color: var(--tableRow);
}

.faq input {
	display: none;
}

.faq label {
	color: var(--textPrimary);
	cursor: pointer;
}

.faq label::before {
	content: '\025be';
	font-size: 1.2rem;
	margin-right: 1rem;
	display: inline-block;
	transition: transform 0.5s linear;
}

.faq label:has(input[type='checkbox']:checked)::before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.faq section {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s linear;
	margin: 0;
	padding: 0.5rem 0 0 0;
	color: var(--textSecondary);
	cursor: initial;
}

.faq label:has(input[type='checkbox']:checked) ~ section {
	max-height: 30vh;
}

.faq span, .faq a {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	color: var(--textSecondary);
}

.faq ol {
	padding: 0 0 0 1.2rem;
	margin: 0;
}

.faq li {
	margin-bottom: 0.25rem;
}

.faq p {
	margin: 0 0 0.25rem 0;
}

@-webkit-keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1000px) {

	.menu-button {
		display: initial;
	}

	.menu {
		position: absolute;
		z-index: 1;
		background-color: var(--backgroundStart);
	}

	.menu img {
		display: none;
	}

	.menu-home {
		display: initial;
	}

	.page h1 {
		font-size: 1.5rem;
		margin-left: 2rem;
	}

	table {
		font-size: 0.8rem;
	}

	section, .content, .flex {
		width: 100%!important;
		margin-right: 0!important;
	}

	#payment-element {
		margin: 0 auto;
		margin-top: 0.5rem;
	  margin-bottom: 1.5rem;
	}

	#stripe-logo {
		margin: 0 auto;
		margin-top: 2rem;
	}

	#payment-submit, #payment-back {
		align-self: center;
	}

	.subcontent {
		flex-direction: column;
	}
	
	.subcontent-item {
		margin-right: 0;
	}

	#files-results {
		padding-right: 0;
	}

	.faq input[type='checkbox']:checked ~ section {
		max-height: 100vh;
	}
}
