:root {
	--textPrimary: #cfcfcf;
	--textSecondary: #afafaf;
	--backgroundStart: #070f1f;
	--backgroundEnd: #0f1f3f;
	--backgroundForm: #00072f;
	--error: #df3f1f;
	--link: #cfaf7f;
	--buttonStart: #9f9f9f;
	--buttonEnd: #5f5f5f;
	--buttonHoverStart: #7f7f7f;
	--buttonHoverEnd: #3f3f3f;
	--hint: #070f1f;
	--tableRow: #00071f;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(var(--backgroundStart), var(--backgroundEnd));
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

h1 {
	font-size: 2rem;
	margin: 1rem 0;
	color: var(--textPrimary);
}

h1 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.6rem;
	margin: 1rem 0;
	color: var(--textPrimary);
}

p {
	font-size: 1rem;
	margin: 0.5rem 0;
	color: var(--textSecondary);
}

ul {
	color: var(--textSecondary);
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
select {
	color: var(--textPrimary);
	background-color: var(--backgroundStart);
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--textPrimary);
	-webkit-box-shadow: 0 0 0 30px var(--backgroundStart) inset;
}

button {
	background-image: linear-gradient(var(--buttonStart), var(--buttonEnd) 50%);
	color: var(--textPrimary);
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}

button:hover {
	background-image: linear-gradient(var(--buttonHoverStart), var(--buttonHoverEnd) 50%);
}

button:disabled {
	opacity: 0.5;
	cursor: default;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: start;
	padding: 2rem;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.logo {
	width: 5rem;
	height: 5rem;
	margin-right: 2rem;
	margin-top: 1rem;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	background-color: var(--backgroundStart);
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer a {
	color: var(--textSecondary);
	margin: 1rem;
	text-decoration: none;
	text-align: center;
}

.footer img {
	height: 5rem;
}

.invisible {
	visibility: hidden;
}

.disabled {
	display: none!important;
}

.fineprint {
	font-size: 0.8rem;
}

.checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.checkbox {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.5rem;
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: -0.2rem;
	left: 0;
	height: 1.2rem;
	width: 1.2rem;
	background-color: var(--backgroundStart);
	border: 1px solid rgb(118, 118, 118);
	border-style: inset;
	border-radius: 0.25rem;
}

.checkbox input:checked ~ .checkmark {
	background-color: var(--buttonEnd);
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.checkbox input:checked ~ .checkmark:after {
	display: block;
}

.checkbox .checkmark:after {
  left: 0.4rem;
  top: 0.2rem;
  width: 0.3rem;
  height: 0.5rem;
  border: solid var(--textPrimary);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.checkbox-label {
	margin: 0;
}

.announcement-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.announcement {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem;
	background-color: #7f7f7f;
	align-items: center;
	justify-content: center;
	color: var(--textPrimary);
	animation-name: slide;
	animation-duration: 1s;
}

.faq-container {
	margin: 0 1rem;
}

.faq-header {
	display: flex;
	flex-direction: row;
}

.faq-header h1 {
	display: inline-block;
	flex-grow: 1;
}

.faq-header span {
	color: var(--textSecondary);
	margin: 2rem;
	font-weight: bold;
	cursor: pointer;
}

.faq-header span::before {
	content: '\02b05';
	margin-right: 0.5rem;
}

.faq {
	margin-top: 0.5rem;
}

.faq:nth-child(odd) {
	background-color: var(--tableRow);
}

.faq input {
	display: none;
}

.faq label {
	color: var(--textPrimary);
	cursor: pointer;
}

.faq label::before {
	content: '\025be';
	font-size: 1.2rem;
	margin-right: 1rem;
	display: inline-block;
	transition: transform 0.5s linear;
}

.faq label:has(input[type='checkbox']:checked)::before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.faq section {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s linear;
	margin: 0;
	padding: 0.5rem 0 0 0;
	color: var(--textSecondary);
	cursor: initial;
}

.faq label:has(input[type='checkbox']:checked) ~ section {
	max-height: 30vh;
}

.faq span, .faq a {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	color: var(--textSecondary);
}

.faq ol {
	padding: 0 0 0 1.2rem;
	margin: 0;
}

.faq li {
	margin-bottom: 0.25rem;
}

.faq p {
	margin: 0 0 0.25rem 0;
}

@keyframes slide {
	0% {
	  transform: translateY(-100%);
	}
	100% {
	  transform: translateY(0);
	}
  }

@media screen and (max-width: 3440px) {

	html {
		font-size: 28px;
	}
}

@media screen and (max-width: 2560px) {

	html {
		font-size: 20px;
	}
}

@media screen and (max-width: 1920px) {

	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 1000px) {

	.mobile-hidden {
		display: none!important;
	}

	h1, h2 {
		text-align: center;
	}

	.header {
		align-items: center;
		padding: 1rem;
	}

	.faq input[type='checkbox']:checked ~ section {
		max-height: 100vh;
	}
}
