*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: #0f2f7f;
}

h1 {
	font-size: 2rem;
	margin: 1rem 0;
	color: #cfcfcf;
}

h2 {
	font-size: 1.6rem;
	margin: 1rem 0;
	color: #cfcfcf;
}

p {
	font-size: 1rem;
	margin: 0.5rem 0;
	color: #afafaf;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 2rem;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #001f8f;
	margin-top: auto;
	background-color: #00003f;
}

.footer a {
	color: #afafaf;
	margin: 1rem;
	text-decoration: none;
}

.footer img {
	height: 5rem;
}

.invisible {
	visibility: hidden;
}

.disabled {
	display: none!important;
}

@media screen and (max-width: 3440px) {

	html {
		font-size: 28px;
	}
}

@media screen and (max-width: 2560px) {

	html {
		font-size: 20px;
	}
}

@media screen and (max-width: 1920px) {

	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {

	h1, h2 {
		text-align: center;
	}

	.header {
		align-items: center;
		padding: 1rem;
	}
}
